<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.icslab.siba.mappers.DeviceMapper">


    <!-- userId를 이용하여 userinfo get -->
    <select id="getDevice" resultMap="DeviceLeftJoin" parameterType="Long">
        SELECT v.vhub_id,
               d.auth_key,
               d.dev_name,
               d.dev_def_name,
               d.dev_type,
               d.category
        FROM vhub as v
        LEFT OUTER JOIN dev as d
        ON v.vhub_id = d.vhub_id
        WHERE v.users_id = #{userId};
    </select>

    <!-- <result property="userId" column="user_id"/> -->
    <resultMap id="DeviceLeftJoin" type="org.icslab.siba.devices.device.domain.DeviceVO">
        <result property="authKey" column="auth_key"/>
        <result property="vHubId" column="vhub_id"/>
        <result property="devName" column="dev_name"/>
        <result property="devDefName" column="dev_def_name"/>
        <result property="devType" column="dev_type"/>
        <result property="category" column="category"/>
    </resultMap>
</mapper>