<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.icslab.siba.mappers.UserMapper">


    <!-- userId를 이용하여 userinfo get -->
    <select id="getUser" resultMap="UserDTO" parameterType="Long">
        SELECT * FROM users WHERE users_id = #{userId}
    </select>


    <!-- userId를 이용하여 userinfo get, optional 안씀 -->
    <select id="getUserByUserId" resultMap="UserDTO" parameterType="Long">
        SELECT * FROM users WHERE users_id = #{userId}
    </select>


    <!-- email을 이용하여 userinfo get -->
    <select id="getUserByEmail" resultMap="UserDTO" parameterType="String">
        SELECT * FROM users WHERE email = #{email}
    </select>


    <!-- providerId를 이용하여 유저 get -->
    <select id="getUserByProviderId" resultMap="UserDTO" parameterType="String">
        SELECT * FROM users WHERE provider_id = #{providerId}
    </select>


    <!-- 유저 레코드 저장 -->
    <insert id="save" parameterMap="UserDTO">
        INSERT INTO users
        (
            users_id,
            provider_id,
            name,
            email,
            profile_img
        )
        VALUES
        (
            NEXTVAL(user_sequence),
            #{providerId},
            #{name},
            #{email},
            #{profileImage}
        )
    </insert>

    <update id="update">
        UPDATE users
        SET name=#{name}, email=#{email}, profile_img=#{profileImage}
        WHERE users_id=#{userId}
    </update>

    <!-- <result property="userId" column="user_id"/> -->
    <resultMap id="UserDTO" type="org.icslab.siba.user.domain.UserDTO">
        <result property="userId" column="users_id"/>
        <result property="providerId" column="provider_id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="profileImage" column="profile_img"/>
    </resultMap>


    <parameterMap id="UserDTO" type="org.icslab.siba.user.domain.UserDTO">
        <parameter property="userId"/>
        <parameter property="providerId"/>
        <parameter property="name"/>
        <parameter property="email"/>
        <parameter property="profileImage"/>

    </parameterMap>
</mapper>