<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.icslab.sibadev.mappers.DeviceMapper">

    <select id="findDevId" resultType="Integer" parameterType="String">
      SELECT dev_id FROM dev where auth_key=#{devKey}
    </select>

    <select id="getConnectedDeviceInfo" resultMap="ConnectedDeviceVO" parameterType="Integer">
      SELECT dev_mac, conn_at FROM conn_dev where dev_id=#{devId}
    </select>

    <select id="getRepositoryOwner" resultType="Integer" parameterType="String">
      SELECT users_id FROM dev where auth_key=#{devKey}
    </select>

    <select id="getDevice" resultMap="Device" parameterType="Integer">
        SELECT dev_id,
               auth_key,
               vhub_id,
               dev_name,
               dev_def_name,
               dev_type,
               category,
               box_id_cnt,
               code_cnt,
               have_entry,
               evcode_cnt
        FROM dev
        where dev_id=#{devId}
    </select>

    <select id="getBoxes" parameterType="Integer" resultMap="DeployBox">
        SELECT box_id,
               pre_text,
               post_text,
               box_type
        FROM box
        WHERE dev_id=#{devId}
    </select>

    <select id="getButtons" parameterType="Integer" resultMap="DeployButton">
        SELECT btn_name,
               btn_code,
               idx,
               btn_type,
               box_id,
               ev_code,
               is_spread
        FROM btn
        WHERE dev_id=#{devId}
    </select>

    <select id="getDerivations" parameterType="Integer" resultMap="DeployDerivation">
        SELECT btn_code,
               cbox_id,
               pbox_id
        FROM derivation
        WHERE dev_id=#{devId}
    </select>

    <select id="getBoxAndDerivation" resultMap="TextBox" parameterType="Integer">
        SELECT box.box_id,
               box.pre_text,
               box.post_text,
               box.box_type,
               box.xaxis,
               box.yaxis,
               box.head_row,
               box.foot_row,
               d.pbox_id,
               d.btn_code
        FROM box as box
        LEFT OUTER JOIN derivation as d
        on box.box_id = d.cbox_id
        where box.dev_id=#{devId}
        ORDER BY box.box_id;
    </select>

    <select id="getBtnAndDerivation" resultMap="BtnDerivationJoin" parameterType="Integer">
        SELECT
        btn.box_id,
        btn.btn_code,
        btn.ev_code,
        btn.is_spread,
        btn.idx,
        btn.btn_name,
        btn.btn_type,
        d.cbox_id,
        d.mx,
        d.my,
        d.zx,
        d.zy
        FROM
        btn as btn
        LEFT OUTER JOIN derivation as d
        ON btn.btn_code = d.btn_code
        where btn.dev_id=#{devId}
        order by btn.box_id, btn.idx;
    </select>

    <!-- userId를 이용하여 userinfo get -->
    <select id="getDeviceAndHub" resultMap="DeviceSummary" parameterType="Long">
        SELECT v.vhub_id,
               v.hub_key,
               v.hub_name,
               v.hub_status,
               v.hub_ip,
               v.hub_port,
               v.hub_type,
               d.auth_key,
               d.dev_id,
               d.dev_name,
               d.dev_def_name,
               d.dev_type,
               d.category
        FROM vhub as v
        LEFT OUTER JOIN dev as d
        ON v.vhub_id = d.vhub_id
        WHERE v.users_id = #{userId};
    </select>

    <select id="getDevices" resultMap="Device" parameterType="Long">
        SELECT dev_id,
               auth_key,
               vhub_id,
               dev_name,
               dev_def_name,
               dev_type,
               category
        FROM dev
        WHERE users_id = #{userId};
    </select>
    
    <update id="updateDevice" parameterType="org.icslab.sibadev.devices.device.domain.DeviceDTO">
        UPDATE dev
        SET box_id_cnt=#{boxIdCnt},
            code_cnt=#{codeCnt},
            have_entry=#{haveEntry},
            evcode_cnt=#{evCodeCnt}
        WHERE dev_id=#{devId}
    </update>

    <delete id="deleteTextBoxes" parameterType="Integer">
        delete from box
        where dev_id=#{devId}
    </delete>

    <delete id="deleteDerivations" parameterType="Integer">
        delete from derivation
        where dev_id=#{devId}
    </delete>

    <delete id="deleteButtons" parameterType="Integer">
        delete from btn
        where dev_id=#{devId}
    </delete>

    <insert id="createDevice" parameterType="org.icslab.sibadev.devices.device.domain.DeviceDTO">
        insert into dev(users_id, dev_id, auth_key, dev_name, dev_def_name, dev_type, category, vhub_id, box_id_cnt, code_cnt, have_entry, evcode_cnt)
        values (
          #{userId},
          NEXTVAL(dev_sequence),
          #{authKey},
          #{devName},
          #{devDefName},
          #{devType},
          #{category},
          null,
          #{boxIdCnt},
          #{codeCnt},
          #{haveEntry},
          #{evCodeCnt}
        )
    </insert>

    <!--text box set insertion-->
    <insert id="insertTextBoxes" parameterType="java.util.Map">
        insert into box(box_id, pre_text, post_text, dev_id, box_type, xaxis, yaxis, head_row, foot_row)
        values
        <foreach collection="textBoxDTOList" item="item" separator=" , ">
            (
              #{item.id},
              #{item.preorder},
              #{item.postorder},
              #{devId},
              #{item.type},
              #{item.pos.x},
              #{item.pos.y},
              #{item.headRow},
              #{item.footRow}
            )
        </foreach>
    </insert>

    <!--button set insertion-->
    <insert id="insertButtons" parameterType="java.util.Map">
        insert into btn(btn_name, btn_code, idx, box_id, ev_code, is_spread, btn_type, dev_id)
        values
        <foreach collection="buttonDTOList" item="item" separator=" , ">
            (
            #{item.buttonDTO.name},
            #{item.buttonDTO.code},
            #{item.buttonDTO.idx},
            #{item.boxId},
            #{item.buttonDTO.eventCode},
            #{item.buttonDTO.isSpread},
            #{item.buttonDTO.type},
            #{devId}
            )
        </foreach>
    </insert>

    <!--linker set insertion-->
    <insert id="insertLinkers" parameterType="java.util.Map">
        insert into derivation(mx, my, zx, zy, btn_code, cbox_id, pbox_id, dev_id)
        values
        <foreach collection="linkerDTOList" item="item" separator=" , ">
            (
            #{item.m.x},
            #{item.m.y},
            #{item.z.x},
            #{item.z.y},
            #{item.code},
            #{item.childId},
            #{item.parentId},
            #{devId}
            )
        </foreach>
    </insert>

    <insert id="createConnectedDevice" parameterType="java.util.Map">
        insert into conn_dev(dev_id, dev_mac, conn_at)
        values
        (
          #{devId},
          #{devMac},
          CURRENT_TIMESTAMP(2)
        )
    </insert>

    <delete id="deleteConnectedDevice" parameterType="String">
        delete from conn_dev
        where dev_mac=#{devMac}
    </delete>

    <delete id="deleteConnectedDeviceById" parameterType="Integer">
        delete from conn_dev
        where dev_id=#{devId}
    </delete>

    <delete id="clearAllConnectedDevice">
        delete from conn_dev
    </delete>

    <resultMap id="DeviceSummary" type="org.icslab.sibadev.devices.device.domain.DeviceShortDTO">
        <result property="vHubId" column="vhub_id"/>
        <result property="hubKey" column="hub_key"/>
        <result property="hubName" column="hub_name"/>
        <result property="hubStatus" column="hub_status"/>
        <result property="hubIp" column="hub_ip"/>
        <result property="hubPort" column="hub_port"/>
        <result property="hubType" column="hub_type"/>
        <result property="devId" column="dev_id"/>
        <result property="authKey" column="auth_key"/>
        <result property="devName" column="dev_name"/>
        <result property="devDefName" column="dev_def_name"/>
        <result property="devType" column="dev_type"/>
        <result property="category" column="category"/>
    </resultMap>

    <resultMap id="Device" type="org.icslab.sibadev.devices.device.domain.DeviceDTO">
        <result property="devId" column="dev_id"/>
        <result property="authKey" column="auth_key"/>
        <result property="devName" column="dev_name"/>
        <result property="devDefName" column="dev_def_name"/>
        <result property="devType" column="dev_type"/>
        <result property="category" column="category"/>
        <result property="vHubId" column="vhub_id"/>
        <result property="boxIdCnt" column="box_id_cnt"/>
        <result property="codeCnt" column="code_cnt"/>
        <result property="haveEntry" column="have_entry"/>
        <result property="evCodeCnt" column="evcode_cnt"/>
    </resultMap>

    <resultMap id="BtnDerivationJoin" type="org.icslab.sibadev.devices.device.domain.BtnDerivationJoinVO">
        <result property="boxId" column="box_id"/>
        <result property="btnCode" column="btn_code"/>
        <result property="btnName" column="btn_name"/>
        <result property="type" column="btn_type"/>
        <result property="idx" column="idx"/>
        <result property="eventCode" column="ev_code"/>
        <result property="isSpread" column="is_spread"/>
        <result property="cBoxId" column="cbox_id"/>
        <result property="mx" column="mx"/>
        <result property="my" column="my"/>
        <result property="zx" column="zx"/>
        <result property="zy" column="zy"/>
    </resultMap>

    <resultMap id="TextBox" type="org.icslab.sibadev.devices.device.domain.TextBoxVO">
        <result property="boxId" column="box_id"/>
        <result property="preText" column="pre_text"/>
        <result property="postText" column="post_text"/>
        <result property="boxType" column="box_type"/>
        <result property="xAxis" column="xaxis"/>
        <result property="yAxis" column="yaxis"/>
        <result property="headRow" column="head_row"/>
        <result property="footRow" column="foot_row"/>
        <result property="pBoxId" column="pbox_id"/>
        <result property="btnCode" column="btn_code"/>
    </resultMap>

    <resultMap id="DeployBox" type="org.icslab.sibadev.devices.device.domain.deployset.BoxDTO">
        <result property="boxId" column="box_id"/>
        <result property="preText" column="pre_text"/>
        <result property="postText" column="post_text"/>
        <result property="boxType" column="box_type"/>
    </resultMap>

    <resultMap id="DeployButton" type="org.icslab.sibadev.devices.device.domain.deployset.ButtonDTO">
        <result property="boxId" column="box_id"/>
        <result property="btnCode" column="btn_code"/>
        <result property="btnName" column="btn_name"/>
        <result property="idx" column="idx"/>
        <result property="type" column="btn_type"/>
        <result property="eventCode" column="ev_code"/>
        <result property="isSpread" column="is_spread"/>
    </resultMap>

    <resultMap id="DeployDerivation" type="org.icslab.sibadev.devices.device.domain.deployset.DerivationDTO">
        <result property="cBoxId" column="cbox_id"/>
        <result property="pBoxId" column="pbox_id"/>
        <result property="btnCode" column="btn_code"/>
    </resultMap>

    <resultMap id="ConnectedDeviceVO" type="org.icslab.sibadev.devices.device.domain.ConnectedDeviceVO">
        <constructor>
            <arg name="devMac" column="dev_mac" javaType="String"></arg>
            <arg name="connectedAt" column="conn_at" javaType="java.sql.Timestamp"></arg>
        </constructor>
    </resultMap>
</mapper>