<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.icslab.sibadev.mappers.VirtualHubMapper">

    <select id="getHubOwner" parameterType="String" resultMap="VirtualHubVO">
      SELECT users_id, hub_name FROM vhub WHERE hub_key=#{hubKey}
    </select>

    <!-- userId를 이용하여 userinfo get -->
    <insert id="createHub" parameterType="java.util.Map">
        INSERT INTO vhub (
        vhub_id,
        users_id,
        hub_key,
        hub_name,
        hub_status,
        hub_ip,
        hub_port,
        hub_type
        )
        VALUE
        (
        NEXTVAL(vhub_sequence),
        #{userId},
        #{hub.hubKey},
        #{hub.hubName},
        #{hub.hubStatus},
        #{hub.hubIp},
        #{hub.hubPort},
        #{hub.hubType}
        )
    </insert>

    <resultMap id="VirtualHubVO" type="org.icslab.sibadev.devices.vhub.domain.VirtualHubVO">
        <constructor>
            <arg name="hubName" column="hub_name" javaType="String"></arg>
            <arg name="userId" column="users_id" javaType="Integer"></arg>
        </constructor>
    </resultMap>

</mapper>