<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.icslab.sibadev.mappers.VirtualHubMapper">

    <update id="establishHub" parameterType="java.util.Map">
        update vhub
        set
        hub_status=#{status},
        hub_ip=#{hubIp},
        hub_port=#{hubPort}
        where hub_key=#{hubKey};
    </update>

    <update id="updateDeviceUnlink" parameterType="Integer">
        update dev set vhub_id=NULL where dev_id=#{devId};
    </update>

    <update id="updateDeviceLinkHub" parameterType="java.util.Map">
        update dev set vhub_id=#{vhubId} where dev_id=#{devId};
    </update>

    <select id="getHubOwner" parameterType="String" resultMap="VirtualHubVO">
      SELECT users_id, hub_name, vhub_id FROM vhub WHERE hub_key=#{hubKey}
    </select>

    <select id="getVirtualHubHostInfo" parameterType="Integer" resultMap="VirtualHubHostVO">
        SELECT hub_ip, hub_port, hub_key FROM vhub WHERE vhub_id=#{vhubId}
    </select>

    <select id="getVirtualHubHostInfoWithKey" parameterType="String" resultMap="VirtualHubHostVO">
        SELECT hub_ip, hub_port, hub_key FROM vhub WHERE hub_key=#{hubKey}
    </select>

    <!-- userId를 이용하여 userinfo get -->
    <insert id="createHub" parameterType="java.util.Map">
        <selectKey keyProperty="vhubId" resultType="int" order="BEFORE">
            select NEXTVAL(vhub_sequence)
        </selectKey>
        INSERT INTO vhub (
        vhub_id,
        users_id,
        hub_key,
        hub_name,
        hub_status,
        hub_ip,
        hub_port,
        hub_type
        )
        VALUE
        (
        #{vhubId},
        #{userId},
        #{hub.hubKey},
        #{hub.hubName},
        #{hub.hubStatus},
        #{hub.hubIp},
        #{hub.hubPort},
        #{hub.hubType}
        )
    </insert>
    
    <update id="updateHubStatus" parameterType="java.util.Map">
        update vhub set hub_status=#{status}  where hub_key=#{hubKey};
    </update>

    <update id="unlinkAllHub">
        update vhub set hub_status=0
    </update>

    <select id="getAllLinkedRepoId" parameterType="Integer" resultType="Integer">
        SELECT dev_id FROM dev WHERE vhub_id=#{hubId}
    </select>

    <resultMap id="VirtualHubVO" type="org.icslab.sibadev.devices.vhub.domain.VirtualHubVO">
        <constructor>
            <arg name="hubName" column="hub_name" javaType="String"></arg>
            <arg name="userId" column="users_id" javaType="Integer"></arg>
            <arg name="hubId" column="vhub_id" javaType="Integer"></arg>
        </constructor>
    </resultMap>

    <resultMap id="VirtualHubHostVO" type="org.icslab.sibadev.devices.vhub.domain.VirtualHubHostVO">
        <constructor>
            <arg name="host" column="hub_ip" javaType="String"></arg>
            <arg name="port" column="hub_port" javaType="Integer"></arg>
            <arg name="hubAuthKey" column="hub_key" javaType="String"></arg>
        </constructor>
    </resultMap>

</mapper>