<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.icslab.sibadev.mappers.VirtualHubMapper">


    <!-- userId를 이용하여 userinfo get -->
    <insert id="createHub" parameterType="java.util.Map">
        INSERT INTO vhub (
        vhub_id,
        users_id,
        hub_key,
        hub_name,
        hub_status,
        hub_ip,
        hub_port,
        hub_type
        )
        VALUE
        (
        NEXTVAL(vhub_sequence),
        #{userId},
        #{hub.hubKey},
        #{hub.hubName},
        #{hub.hubStatus},
        #{hub.hubIp},
        #{hub.hubPort},
        #{hub.hubType}
        )
    </insert>

</mapper>